/* Styles for generic alert */
.custom-alert {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Higher z-index to show on top */
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: black;
    font-size: 14px; /* Decrease the font size */
}
  
.custom-alert span {
    margin-right: 5px;
}
  
.custom-alert .message {
    font-weight: bold;
}
  
/* Styles for specific message types */
.custom-alert.warning-message {
    background-color: #ff6666;
}
  
.custom-alert.success-message {
    background-color: #66ff66;
}