.main-container {
  min-height: calc(100vh - 15px);
}

.chart-container {
  margin-top: 20px;
}

/* Dark Theme */
.dark-theme {
  background-color: #0a0a0a !important;
  color: rgb(255, 255, 255, 0.05);
}

/* Additional Dark Theme Styles (you can customize these) */
.dark-theme .theme-toggle {
  color: #fff;
}

.dark-theme .chart-container {
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
}

.dark-theme .theme-toggle label {
  color: #fff;
}

/* Additional Dark Theme Styles Ends Here */

.body-container {
  min-height: calc(100vh - 300px);
}

.select-dropdown {
  height: 40px;
  font-size: 14px;
}

/* Styles for custom alert */
.custom-alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  /* Higher z-index to show on top */
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(55, 55, 55);
  font-size: 14px;
  /* Decrease the font size */
}

.custom-alert span {
  margin-right: 5px;
}

.custom-alert .message {
  font-weight: bold;
}

/* Styles for specific message types */
.custom-alert.warning-message {
  background-color: #ff6666;
}

.custom-alert.success-message {
  background-color: #66ff66;
}

p {
  margin: 0;
  padding: 0;
}

.small-select {
  font-size: 12px;
}